
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>考勤系统</title>
    <link href="jQueryLogin/css/default.css" rel="stylesheet" type="text/css" th:href="@{/jQueryLogin/css/default.css}"/>
    <!--必要样式-->
    <link href="jQueryLogin/css/styles.css" rel="stylesheet" type="text/css" th:href="@{/jQueryLogin/css/styles.css}"/>
    <link href="jQueryLogin/css/demo.css" rel="stylesheet" type="text/css" th:href="@{/jQueryLogin/css/demo.css}"/>
    <link href="jQueryLogin/css/loaders.css" rel="stylesheet" type="text/css" th:href="@{/jQueryLogin/css/loaders.css}"/>
</head>

<body>
<div class='login'>
    <div class='login_title'>
        <span>管理员登录</span>
    </div>
    <div class='login_fields'>
        <div class='login_fields__user'>
            <div class='icon'>
                <img alt="" src='jQueryLogin/img/user_icon_copy.png'>
            </div>
            <input name="login" id="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" style="width:320"/>
            <div class='validation'>
                <img alt="" src='jQueryLogin/img/tick.png'>
            </div>
        </div>
        <div class='login_fields__password'>
            <div class='icon'>
                <img alt="" src='jQueryLogin/img/lock_icon_copy.png'>
            </div>
            <input name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off" style="width:320">
            <div class='validation'>
                <img alt="" src='jQueryLogin/img/tick.png'>
            </div>
        </div>
        <div class='login_fields__password'>
        <div class='icon'>
          <img alt="" src='jQueryLogin/img/key.png'>
        </div>
        <input name="code" placeholder='验证码' maxlength="4" type='text'  autocomplete="off">
        <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
        <canvas class="J_codeimg" id="myCanvas" onclick="Code();">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
        </div>
      </div>
      </div>
        <div class='login_fields__submit' style="margin-top: 120px;float:left">
            <input type='button' value='登录'>
            <p style="margin-top: 40px;">考勤系统   后台管理系统</p>
        </div>
    </div>
    <div class='success'>
    </div>
   <!-- <div class='disclaimer'>
        <h2>东方易元   后台管理系统</h2>
    </div>-->
</div>
<div class='authent'>
    <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
        <div class="loader-inner ball-clip-rotate-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <p>登录中...</p>
</div>
<div class="OverWindows"></div>
<!-- 全局js -->
<script th:inline="javascript"> var ctx = [[@{/}]]; </script>
<link href="../static/jQueryLogin/layui/css/layui.css" rel="stylesheet" type="text/css" th:href="@{/jQueryLogin/layui/css/layui.css}"/>
<script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js" th:href="@{//libs.baidu.com/jquery/1.10.2/jquery.min.js}"></script>
<script type="text/javascript" src="jQueryLogin/js/jquery-ui.min.js" th:href="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" src='jQueryLogin/js/stopExecutionOnTimeout.js?t=1' th:href="@{/js/stopExecutionOnTimeout.js?t=1}"></script>
<script src="jQueryLogin/layui/layui.js" type="text/javascript" th:href="@{/layui.js}"></script>
<script src="jQueryLogin/js/Particleground.js" type="text/javascript" th:href="@{/js/Particleground.js}"></script>
<script src="jQueryLogin/js/Treatment.js" type="text/javascript" th:href="@{/js/Treatment.js}"></script>
<script src="jQueryLogin/js/jquery.mockjax.js" type="text/javascript" th:href="@{/js/jquery.mockjax.js}"></script>
<script type="text/javascript">
    /* 	$(document).ready(function() {
            console.log(ctx);
            validateRule();
        });

        $.validator.setDefaults({
            submitHandler: function() {
                login();
            }
        });

        function login() {
            $.ajax({
                type: "POST",
                url: ctx + "login",
                data: $('#signupForm').serialize(),
                success: function(r) {
                    if (r.code == 0) {
                        parent.location.href = ctx + 'index';
                    } else {
                        layer.msg(r.msg);
                    }
                }
            });
        }

        function validateRule() {
            var icon = "<i class='fa fa-times-circle'></i> ";
            $("#signupForm").validate({
                rules: {
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    username: {
                        required: icon + "请输入您的用户名",
                    },
                    password: {
                        required: icon + "请输入您的密码",
                    }
                }
            })
        } */

    var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
    var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用
    //默认账号密码

    var truelogin = "kbcxy";
    var truepwd = "mcwjs";

    var CodeVal = 0;
     Code();
       function Code() {
           if(canGetCookie == 1){
               createCode("AdminCode");
               var AdminCode = getCookieValue("AdminCode");
               showCheck(AdminCode);
           }else{
               showCheck(createCode(""));
           }
       }
    function showCheck(a) {
        CodeVal = a;
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.clearRect(0, 0, 1000, 1000);
        ctx.font = "80px 'Hiragino Sans GB'";
        ctx.fillStyle = "#E8DFE8";
        ctx.fillText(a, 0, 100);
    }
    $(document).keypress(function (e) {
        // 回车键事件
        if (e.which == 13) {
            $('input[type="button"]').click();
        }
    });
    //粒子背景特效
    /*  $('body').particleground({
       dotColor: '#E8DFE8',
       lineColor: '#133b88'
   }); */
    $('input[name="pwd"]').focus(function () {
        $(this).attr('type', 'password');
    });
    $('input[type="text"]').focus(function () {
        $(this).prev().animate({ 'opacity': '1' }, 200);
    });
    $('input[type="text"],input[type="password"]').blur(function () {
        $(this).prev().animate({ 'opacity': '.5' }, 200);
    });
    $('input[name="login"],input[name="pwd"]').keyup(function () {
        var Len = $(this).val().length;
        if (!$(this).val() == '' && Len >= 3) {
            $(this).next().animate({
                'opacity': '1',
                'right': '30'
            }, 200);
        } else {
            $(this).next().animate({
                'opacity': '0',
                'right': '20'
            }, 200);
        }
    });
    var open = 0;
    layui.use('layer', function () {
        //非空验证
        $('input[type="button"]').click(function () {
            var login = $('input[name="login"]').val();
            var pwd = $('input[name="pwd"]').val();
            var code = $('input[name="code"]').val();
            if (login == '') {
                ErroAlert('请输入您的账号');
            } else if (pwd == '') {
                ErroAlert('请输入密码');
            }else if (code == '' || code.length != 4) {
                ErroAlert('输入验证码');
            } else {
                //认证中..
                /* fullscreen(); */
                $('.login').addClass('test'); //倾斜特效
                setTimeout(function () {
                    $('.login').addClass('testtwo'); //平移特效
                }, 300);
                setTimeout(function () {
                    $('.authent').show().animate({ right: -320 }, {
                        easing: 'easeOutQuint',
                        duration: 600,
                        queue: false
                    });
                    $('.authent').animate({ opacity: 1 }, {
                        duration: 200,
                        queue: false
                    }).addClass('visible');
                }, 500);

                //登陆
                var JsonData = { login: login, pwd: pwd, code: code };
                //此处做为ajax内部判断
                if(JsonData.code.toUpperCase() == CodeVal.toUpperCase()){
                    $.ajax({
                        type: "POST",
                        url: ctx + "login",
                        data: {username:login,password:pwd},
                        success: function(r) {
                            if (r.code == 0) {
                                setTimeout("parent.location.href ='/index'",1000)
                            } else {
                                setTimeout("layer.msg('"+r.msg+"')",2000);
                            }
                        }
                    });
                }else{
                    setTimeout("layer.msg('验证码输入错误！')",2000);
                }
                var url = "";
                AjaxPost(url, JsonData,

                    function (data) {
                        //ajax返回
                        //认证完成
                        setTimeout(function () {
                            $('.authent').show().animate({ right: 90 }, {
                                easing: 'easeOutQuint',
                                duration: 600,
                                queue: false
                            });
                            $('.authent').animate({ opacity: 0 }, {
                                duration: 200,
                                queue: false
                            }).addClass('visible');
                            $('.login').removeClass('testtwo'); //平移特效
                        }, 2000);
                        setTimeout(function () {
                            $('.authent').hide();
                            $('.login').removeClass('test');
                            if (data.Status == 'ok') {
                                //登录成功
                                $('.login div').fadeOut(100);
                                $('.success').fadeIn(1000);
                                $('.success').html(data.Text);
                                //跳转操作

                            } else {
                                AjaxErro(data);
                            }
                        }, 2400);
                    })
            }

        })
    })
</script>
</body>
</html>
